* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.about {
    text-align: center; 
    margin: auto; 
    padding: 20px;
    max-width: 60%; 
    box-sizing: border-box;
}

.about h1{
    text-align: center; 
    margin-left: 5%;
    padding: 20px; 
    color: orangered; 
    font-size: 36px; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.about p {
    line-height: 1.5;
    padding: 10px; 
    text-align: justify; 
    max-width: 100%; 
    margin-left: 5%; 
}


/*EDUCATION*/
.grid {
    display: grid;
    gap: 24px;
}

.education-container {
    row-gap: 50px;   
}

.education-content {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

.education-year, .education-race {
    font-size: 20px;
    margin-bottom: 4px;
}

.education-university, .education-specialty {
    display: block;
    font-size: 16px;
    text-align: left;
}

.education-year {
    text-align: right;
}

.education-university {
    display: block;
    font-size: 16px;
    text-align: right;
}

.education-time {
    padding: 0 16px;
    justify-self: center;
}

.section-subtitle, .section-title {
    text-align: center;
    margin-bottom: 25px;
}

.section-subtitle {
    color: orangered;
    font-size: 30px;
}

.education-section {
    margin-left: 80px; /* Adds spacing to prevent overlap with navbar */
}

/* round icon with line */
.education-rounder {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: orangered;
    border-radius: 50%;
}

.education-rounder::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border: 1px solid orangered;
    border-radius: 50%;
}

.education-line {
    display: block;
    height: 100%;
    width: 2px;
    background-color: orangered;
    transform: translate(5px, -4px);
}

/* Work Section same as education */
.grid {
    display: grid;
    gap: 24px;
}

.work-section {
    margin-top: 50px;
    margin-left: 4%;
}

.work-container {
    row-gap: 50px;   
}

.work-content {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

.work-year, .work-race {
    font-size: 20px;
    margin-bottom: 4px;
}

.work-specialty {
    display: block;
    font-size: 16px;
    text-align: left;
}

.work-year {
    text-align: right;
}

.work-time {
    padding: 0 16px;
    justify-self: center;
}

.section-title {
    text-align: center;
    margin-bottom: 25px;
    color:black;
}

/* round icon with line */
.work-rounder {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: orangered;
    border-radius: 50%;
}

.work-rounder::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border: 1px solid orangered;
    border-radius: 50%;
}

.work-line {
    display: block;
    height: 100%;
    width: 2px;
    background-color: orangered;
    transform: translate(5px, -4px);
}

/* SKILLS  */

.skills {
    text-align: center;
    padding: 20px;
    margin: auto;
    max-width: 80%; 
    box-sizing: border-box;
}

.skills h3{
    color: orangered;
    font-size: 30px;
    text-align: center;
    padding: 10px 40px; 
    margin-left: 5%;   
}

.skills p{
    padding-bottom: 20px;
    margin-left: 5%;
}

.skills-img {
    width: 50px;
    height:auto;
    margin-bottom: 16px;
}

.skills-name {
    font-size: 16px; 
    text-align: center;
    margin-bottom: 30px;
}

.skills-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); 
    gap: 20px; 
    justify-content: center; 
    align-items: center; 
    margin: auto; 
    max-width: 80%; 
}

.skills-box {
    display: inline-grid; 
    align-items: center; 
    justify-items: center; /* Center the content inside each box */
    transition: transform 0.4s;
    text-align: center; /* Ensure text inside boxes is centered */
}

.skills-box:hover {
    transform: translateY(-4px); 
}

/* Responsiveness for screen-size */
@media only screen and (max-width: 1440px) {
    .education-section, .work-section {
        margin-left: 15%;
    }

    /* Skills section adjustments */
    .skills h3{
        margin-left: 10%;
        padding-bottom: 15px;
    }

    .skills p{
        margin-left: 20%;
        padding-bottom: 20px;
    }

    .skills-content {
        display: flex;
        width: 16%;
        margin-left: 48%;
    }

    .skills-box {
        display: grid; 
        align-items: center; 
        justify-content: center; 
        padding: 10px; 
        text-align: center; /* Center the text under the image */
    }

    .skills-img {
        width: 50px; 
        height: 50px; 
        object-fit: contain; 
        margin-bottom: 10px; 
    }

    .skills-name {
        font-size: 14px; /* Adjust font size */
        margin-left: 45%;
        line-height: 1;
        padding: 10px 0;
    }
}

@media only screen and (max-width: 1024px) {
    .about img {
        display: none; 
    }

    .about h1 {
        margin-left: 10%;
    }

    .about p {
        line-height: 1.5;
        text-align: justify;
        max-width: none; 
        padding: 15px;
        margin-left: 23%; 
        margin-right: 3%; 
    }

    .work-section {
        margin-left: 22%;
    }

    .skills h3{
        margin-left: 15%;
    }

    .skills p{
        margin-left: 40%;
        padding: 15px 0;
    }

    .skills-content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }    
}

@media only screen and (max-width: 786px){

    .about h1 {
        margin-left: 25%;
    }

    .about p {
        margin-left: 30%;
    }

    .education-section {
        margin-left: 30%;
    }

    .work-section {
        margin-left: 39%;
    }

    .skills h3 {
        margin-left: 29%;
    }

    .skills-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 52%;
    }

}